.google {
	width: 250px;
	height: 90px;
	margin-top: 120px;
	padding-bottom: 60px;
}

.search {
	border:0.5px solid #EAEAEA;
	width: 390px;
	height: 30px;
	box-shadow: 0px 1.5px 3px 1px #CBCBCB;

}

.search-inner {
	border: 0px solid black;
	background-color: #FFFFFF;
	z-index: 1;
	position: absolute;
	width: 330px;
	height: 28px;
	top: 275px;
	left: 405px;
	
}

.button {
	width: 100px;
	height: 36px;
	background-color: #F2F2F2;
	border: 0px;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #757575;
}

.button2 {
	width: 170px;
	height: 36px;
	background-color: #F2F2F2;
	margin: 11px 4px;
	border: 0px;
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #757575;
}




p {
	font-size: small;
}

body {
	margin: 0;
	padding: 0;
	
}


.top-nav {
	display: inline-flex;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	right: 20px;
	position: absolute;

}

.top-nav li {
	padding: 10px;
	
}


.top-nav a {
	text-decoration: none;
	color: #272727;
	font-size: 13px;
	font-family: arial,sans-serif;
	

}


.versions a {
	text-decoration: none;
}

.kirjaudu {
	background-color: #4683EA;
	margin-left: 5px;

}

.kirjaudu a {
	color: white;
	font-weight: bold;
	
}



.footer {
	margin-top: 50px;
	
}


.footer1 {
	display: block;
	background-color: #F2F2F2;
	line-height: 40px;
	text-align: left;
	padding-left: 30px;
	border-top: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4; 

}

.footer1 a {
	text-decoration: none;
	color: rgba(0,0,0,.54);
	font-family: arial, sans-serif;
}




.botfooter {
	background-color: #F2F2F2;
	line-height: 40px;
	

}


.botfootertext {
	text-decoration: none;
	padding-left: 30px;
	font-size: 13px;
	font-family: arial, sans-serif;
	color: #666;
}

.botfootertext2 {
	float: right;
	text-decoration:none;
	padding-right: 30px;
	font-size: 13px;
	font-family: arial, sans-serif;
	color: #666;
}

